{% extends "index/_base.html" %}

{% block content %}

        <div class="container mx-auto px-4 mt-4">
            <div class="grid grid-cols-1 my-9 gap-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 sm:w-full overflow-hidden">
                <div id="gameview" class="flex flex-col items-start p-2 md:bg-hero-pattern rounded-lg border-dashed border-2 border-gray-300 shadow-md md:flex-row md:max-w-xl w-full hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <div class="grid grid-cols-1 gap-6 p-4 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 sm:w-full overflow-hidden">
                        <div id="game" class="flex flex-col items-center lg:py-16 lg:px-16 px-14 py-14 bg-ml-view bg-no-repeat bg-center bg-cover rounded-lg border shadow-md md:flex-row md:max-w-lg w-full hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                        </div>
                        <div id="teamroles" class="flex flex-col items-center lg:py-16 lg:px-16 px-14 py-14 bg-ml-view bg-no-repeat bg-center bg-cover rounded-lg border shadow-md md:flex-row md:max-w-lg w-full hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                        </div>
                        <!-- <div class="flex flex-col items-center py-14 px-14 bg-ml-view bg-no-repeat bg-center bg-cover rounded-lg border shadow-md md:flex-row md:max-w-lg w-full hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                        </div>
                        <div class="flex flex-col items-center py-14 px-14 bg-ml-view bg-no-repeat bg-center bg-cover rounded-lg border shadow-md md:flex-row md:max-w-lg w-full hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                        </div> -->
                    </div>
                </div>
                <div class="flex flex-col items-center p-4 bg-white rounded-lg border-dashed border-2 border-gray-300 shadow-md md:flex-row md:max-w-lg w-full hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <div class="sm:px-2 md:px-2 lg:px-2">
                        <form class="space-y-4" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="grid sm:grid-cols-2 md:grid-cols-2 md:gap-6 p-2 rounded justify-center">
                                
                                <div class="flex relative z-0 w-full group border dark:border-gray-600 rounded justify-center">
                                    <img src="{{user.avatar.url}}" style="max-width: 100px;margin-left: 2px;" class="rounded" alt="">
                                </div>
                                <div class="relative z-0 m-2 mb-4 w-full group content-end">
                                    <input type="text" name="formerteam" value="{{user.ign}}" id="curfor" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required="">
                                    <label for="curfor" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">IGN</label>
                                </div>
                                
                              </div>
                            <div class="grid md:grid-cols-2 md:gap-6">
                            <div class="relative z-0 mb-4 w-full group">
                                <select name="gametype" id="gametype" onchange="changeGameViewBg()" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                    <option value="ml">Mobile Legends</option>
                                    <option value="valorant">Valorant</option>
                                    <option value="dota">Dota 2</option>
                                    <option value="pubg">PUBG</option>
                                    <option value="cod">Call of Duty</option>
                                </select>
                            </div>
                            <div class="relative z-0 mb-2 w-full group">
                                <select name="gamerole" id="role" onchange="changeGameRoleBg()" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                    <option value="jungler">Jungler</option>
                                    <option value="gold">Gold Laner</option>
                                    <option value="exp">Exp Laner</option>
                                    <option value="midlaner">Mid Laner</option>
                                    <option value="tank">Tank/Roamer</option>
                                </select>
                            </div>
                            </div>
                            <div class="grid md:grid-cols-2 md:gap-4 lg:gap-2 sm:gap-2">
                            
                            <div class="relative z-0 mb-4 w-full group">
                                <input type="text" name="formerteam" value="{{user.formerteam}}" id="curfor" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required="">
                                <label for="curfor" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Current Team | Former</label>
                            </div>

                            <div class="relative md:grid-cols-2 md:gap-4 lg:gap-2 sm:gap-2">
                                {{form}}
                            </div>
                            </div>
                            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
                        </form>
                    </div>
                </div>
        
            </div>
        
        </div>

{% endblock %}