{% extends "index/_base.html" %}
{% load hitcount_tags %}


{% block content %}
<!-- <p>Views: {% get_hit_count for userinfos %}</p>
<a href="{{userinfos.get_absolute_url }}">Link</a> -->
<div class="container mx-auto">
    <div class="grid grid-cols-1 my-9 gap-4 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 sm:w-full overflow-hidden">
        <div id="gameview" class="flex flex-col items-start p-2 md:bg-hero-pattern rounded-lg  shadow-md md:flex-row lg:max-w-xl w-full hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <div class="grid grid-cols-1 gap-6 p-4 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 sm:w-full overflow-hidden">
                <div id="game" class="flex flex-col items-center lg:py-2 lg:px-2 px-2 py-2 rounded-lg border shadow-md md:flex-row md:max-w-lg w-full hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <img class="object-cover rounded-lg md:h-auto md:rounded-none md:rounded-l-lg content-center" src="{{userinfos.avatar.url}}" style="width: 150px;" alt="">
                    <div class="flex flex-col justify-center sm:py-2 px-4 leading-normal content-center w-full">
                        <h5 class="mb-2 font-bold tracking-wide text-gray-900 dark:text-white md:text-center sm:text-center md:text-center lg:text-center sm:text-xs  md:text-2xl lg:text-base overflow-hidden">
                            <span class="bg-yellow-200 text-yellow-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-purple dark:text-yellow-900">ID # :</span>

                            <span class="text-yellow-400 sm:text-center lg:text-center sm:text-sm md:text-2xl lg:text-base items-center">
                                {{userinfos.formerteam | default_if_none:''}}</span>
                                <span class="ml-px text-center">
                                    {{userinfos.ign}}
                                </span></h5>
                    <!-- <p class="mb-3 font-normal text-left text-center text-gray-700 dark:text-gray-400 sm:text-xs md:text-base md:text-start">Top Jungle prospect from Metro Manila.</p> -->
                    <div class="inline-flex items-center">
                        {% if userinfos.gametype == 'valorant' %}
                            <img src="https://i.imgur.com/DAqnrMC.png" style="max-width: 60px;margin-left: 2px;" alt="">
                            <img src="https://static.wikia.nocookie.net/valorant/images/7/77/InitiatorClassSymbol.png" class="w-4 h-4 items-center ml-px" alt="">
                        {% endif %}
                    </div>
                    
                </div>
                </div>
                <!-- <div id="teamroles" class="flex flex-col items-center lg:py-2 lg:px-2 px-2 py-2 bg-no-repeat bg-center bg-cover rounded-lg border shadow-md md:flex-row md:max-w-lg w-full hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                </div> -->
                <!-- <div class="flex flex-col items-center py-14 px-14 bg-ml-view bg-no-repeat bg-center bg-cover rounded-lg border shadow-md md:flex-row md:max-w-lg w-full hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                </div>
                <div class="flex flex-col items-center py-14 px-14 bg-ml-view bg-no-repeat bg-center bg-cover rounded-lg border shadow-md md:flex-row md:max-w-lg w-full hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                </div> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}